
 body{
background: rgb(214,221,255);
background: radial-gradient(circle, rgba(214,221,255,1) 22%, rgba(62,120,213,1) 100%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
header{
    top: 0;
    left: 0;
    width: 86%;
    padding: 10px 98px;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
	 overflow: hidden;
   box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -17%;
    width: 100%;
    height: 100%;
    transition: .5s;
}
header:hover::before {
    left: 100%;
}
.logo {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}
.nav-list a {
    color: #27005D;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: .3s;
}
.nav-list a:hover {
    color: gray;
}
  

  .Courses h1{
    font-size: 50px;
    text-align: center;
    color:#491c88;
    }
  

    .containerCourses {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
      gap: 5px;
      padding: 80px; 
    }
    
    .courseCard {
      text-align: center;
      justify-content: center;
      padding: 1%;
      box-sizing: border-box;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      width: calc(33.33% - 15px); 
      overflow: hidden;
      height: 150px;
      transition: 0.8s;
      border-style: solid;
      color: #E4F1FF;
      background-color: #9ab2f2;
      border-color: rgb(255, 255, 255);
      margin-bottom: 20px;
      position: relative;
    }
    
    .courseCard:hover {
      height: auto;
    }
    
    .top {
      justify-content: center;
      align-items: center;
      height: 150px;
      transition: 0.8s;
      margin-left: 75px;   
    }
    
    .top h1 {
      font-size: 50px;
      text-align: center;
       color:#491c88;
    }
    
    .Cor-img {
    width: 150px;
    height: 150px;
    justify-items: center;
    margin: 0px;

    }
    
    .bottom {
      height: auto; 
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 3%;
      background: #7160d4;
    }
    
.bottom p {
 font-size: small;
 line-height: 1.5; 
 text-align: left;
    }

    .checked {
      color: orange;
      position: relative;
      bottom: 20px;
      justify-items: center;
    }



footer {
  background-color: #E4F1FF; 
}

.container{
  display:flex;
  justify-content: space-between;
  padding: 10px 10px;
  text-align: center;
  font-size: medium;
  margin-bottom: -30px;
  text-indent: 2px; 
  
}
.about{
  flex-grow: 1;
  flex-basis: 100%;
}
.container  h2{
  font-weight: 900;
  text-align: center;
  font-style:oblique;
}
.about p {
  text-align: center;
  font-size: medium;
}

.Contact{
  flex-grow: 1;
  flex-basis: 100%;
  text-indent: -3px;
 padding-left: -30px; 
}

.Contact .info{
  position: relative;
  text-align: justify;
  margin-left: 70px;
}
.info li{
display: flex ;
  margin-bottom: 0px;
  
}
.info li span:nth-child(1){
  color:#27005D;
  font-size:5px;
  margin-right: 10px;

}
.info li span {
  color: #27005D;
  position: relative;
  right:10px;
  top:10px;
}
.Contact .info li a {
  color: #27005D;
  text-decoration: none;
  text-align: center;
}
.Contact .info li p{
  text-align:right;
}
.Contact .info li a:hover{
  color: #27005D;
}
.copyright{
  width: 100%;
  background-color: #27005D;
  padding:5px 0;
  text-align: center;
  color: white;
  border: 0;
}
.about,
.Contact {
  flex-basis: calc(50% - 10px);
  padding: 0 100px;
}

.about h2,
.Contact h2 {
  font-weight: 900;
  text-align: center;
  font-style: oblique;
}

.about p,
.Contact .info {
  text-align: center;
  font-size: medium;
}

.Contact .info {
  margin-left: 150px;
}
